<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>title</title>

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="favicon/site.webmanifest">
<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<!-- favicon end-->

<!-- og  -->
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="http://html.n3.by/pav/profiledoors/index.html">
    <meta property="og:type" content="website">
    <meta property="og:title" content="TEST">
    <meta property="og:description" content="TEST TEST TEST">
    <meta property="og:image" content="http://html.n3.by/pav/profiledoors/img/content/og.jpg?v3">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="html.n3.by">
    <meta property="twitter:url" content="http://html.n3.by/pav/profiledoors/index.html">
    <meta name="twitter:title" content="TEST">
    <meta name="twitter:description" content="TEST TEST TEST">
    <meta name="twitter:image" content="http://html.n3.by/pav/profiledoors/img/content/og.jpg?v3">

<!-- og end-->

<link href="css/libs.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">