/*FONT-FAMILY*/
//$default-font:'tt_normsregular', Arial, sans-serif;
$default-font:Arial, sans-serif;

/*FONT-SIZE*/
$default-size-font: 16px;

/*BACKGROUND*/
$default-site-bg: #fff;
// $alt-site-bg: #7A1774;

//$default-bg: #eeeeee;

/*TEXT-COLOR*/
$base-color: #8c8c8c;

// $alt-color: #7A1774;